@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/Titillium_Web/TitilliumWeb-Bold.ttf') format('truetype');
}

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0rem;
  background-color: #fcf3f6;
}

h1 {
  font-size: 2.5rem;
  color: #2c292b;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}